name: "Build"

on:
  workflow_call:
    inputs:
      repository:
        description: Repository
        required: true
        type: string
      branch:
        description: "Branchname(default: dev)"
        default: dev
        type: string
      solution:
        description: Solution
        required: true
        type: string
      publishtype:
        description: Publish-Type
        default: WebPublish
        type: string
      publishname:
        description: "Name of Publish"
        type: string
        required: false
    secrets:
      username:
        description: GitHub-Username
        required: true
      token:
        description: Nuget-Read-Token
        required: true
      
jobs:
  build:
  
    runs-on: windows-latest
    
    env:
      PublishName: $ {{inputs.publishnameb }}

    steps:
        
    - name: Check Input
      if: inputs.publishname != ''
      run: echo ${{ inputs.publishname }} >> $PublishName
    
    - uses: actions/checkout@v2
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ inputs.branch }}
    
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.0.3
      
    - name: Navigate to Workspace
      run: cd $GITHUB_WORKSPACE1

    - name: Setup NuGet
      run: |
        Invoke-WebRequest https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
        nuget sources add -Source https://nuget.pkg.github.com/medientank-handels-gmbh/index.json -username ${{ secrets.username }} -password ${{ secrets.token }}   

    - name: Create Build Directory
      run: mkdir ${{ github.workspace }}\_build
      
    - name: Restore Packages
      run: nuget restore ${{ inputs.solution }}.sln

    - name: Build Solution
      run: msbuild.exe ${{ inputs.solution }}.sln /nologo /nr:false /p:DeployOnBuild=true /p:DeployDefaultTarget=${{ inputs.publishtype }} /p:WebPublishMethod=FileSystem /p:DeleteExistingFiles=True /p:platform="Any CPU" /p:configuration="Release" /p:PublishUrl='${{ github.workspace }}\_build'
    
    - name: Zip Build
      run: Compress-Archive -Path '${{ github.workspace }}\_build\*' -DestinationPath '.\${{ env.PublishName }}.zip'
      
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: ${{ env.PublishName }}
        path: .\${{ env.PublishName }}.zip
        if-no-files-found: error
        retention-days: 7
